<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JamesZacka_GoDataFeed_Coding_Demo</title>
    <base href="/">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">JamesZacka_GoDataFeed_Coding_Demo</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                <li><a asp-area="" asp-controller="Products" asp-action="IndexProductsAPI">Products API</a></li>
              </ul>

              @*https://amlblog.net/programming/2016/04/25/bootstrap-modals-and-razor.html*@
              <!-- Button trigger modal -->
              @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Launch demo modal
              </button>*@
              @*<a class="btn btn-primary" asp-action="_Index" asp-controller="Customers" data-toggle="modal" data-target="#exampleModalCenter">
                Customer Index
              </a>*@
              @*<a class="btn btn-primary" asp-action="_Details" asp-controller="Customers" asp-route-id="1" data-toggle="modal" data-target="#exampleModalCenter">
                Customer Detail 1
              </a>*@
              @*<a class="btn btn-primary" asp-action="GetProducts" asp-controller="ProductsAPI" data-toggle="modal" data-target="#exampleModalCenter">
                  Products
              </a>*@
              @*<a class="btn btn-primary" asp-action="_UserModalBtn" asp-controller="Customers" data-toggle="modal" data-target="#exampleModalCenter">
                Partial
              </a>*@
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">

      @RenderBody()
      @Html.AntiForgeryToken()
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            @*<div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Change User</button>
            </div>*@
          </div>
        </div>
      </div>
      <hr />
      <footer>
        <p>&copy; 2019 - JamesZacka_GoDataFeed_Coding_Demo</p>
      </footer>
    </div>

    <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>

      <script src="~/dist/Angular/runtime.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/polyfills.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/styles.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/vendor.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/main.js" asp-append-version="true"></script>
      <script>
        $(function () {
          // when the modal is closed
          $('#exampleModalCenter').on('hidden.bs.modal', function () {
            // remove the bs.modal data attribute from it
            $(this).removeData('bs.modal');
            // and empty the modal-content element
            $('#exampleModalCenter .modal-content').empty();
          });
        });
      </script>
    </environment>
    <environment exclude="Development">
      <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
              asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
              asp-fallback-test="window.jQuery"
              crossorigin="anonymous"
              integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
      </script>
      <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
              asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
              asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
              crossorigin="anonymous"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
      </script>
      <script src="~/js/site.min.js" asp-append-version="true"></script>

      <script src="~/dist/Angular/runtime.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/polyfills.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/styles.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/vendor.js" asp-append-version="true"></script>
      <script src="~/dist/Angular/main.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
